/*-----------------------------------------------------------------------------
[client]            Compiled Themes Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------
[client]            Default Colors Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------
[client]            Theme Structure Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/
/* line 9, ../src/themes/_theme.scss */
body.default_theme {
  background-color: none;
}

/*-----------------------------------------------------------------------------
[client]            Blue Theme Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------
[client]            Theme Structure Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/
/* line 9, ../src/themes/_theme.scss */
body.blue_theme {
  background-color: blue;
}

/*-----------------------------------------------------------------------------
[client]            Green Theme Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------
[client]            Theme Structure Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/
/* line 9, ../src/themes/_theme.scss */
body.green_theme {
  background-color: green;
}
