/*-----------------------------------------------------------------------------
[client]            Block Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

// #TODO: move theme stuff and module stuff

.block {
	.block-header {
	}
	.block-content {
	}

	.block-footer {}

	&.full-bleed{
		.block-content {
			padding: 0;
		}
	}
}

.highlight{
	padding: 20px;
	padding: 2rem;
	margin-bottom: 10px;
	margin-bottom: 1rem;
	background-color: #f5f5f5;
	@include border-radius(5px);
	
	.title{
		@include font-size(22);
		text-align: center;
	}
}