/*-----------------------------------------------------------------------------
[client]            Font-Face Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

@import "compass/css3";
 
// @include font-face("Blooming Grove", font-files("examples/bgrove.ttf", "examples/bgrove.otf"));
// .example {font-family: "Blooming Grove";}
// Use http://www.fontsquirrel.com/fontface/generator to auto Generate sass

/* first for Internet Explorer < 9 */
@font-face {
	font-family: DIN;
	src: url("../fonts/dinweb/DINWeb-Bold.eot");
}
/* then for WOFF-capable browsers */
@font-face {
	font-family: DIN;
	src: url("../fonts/dinweb/DINWeb-Bold.woff") format("woff");
}

/* first for Internet Explorer < 9 */
@font-face {
	font-family: DIN;
	src: url("../fonts/dinweb/DINWeb-Medium.eot");
}
/* then for WOFF-capable browsers */
@font-face {
	font-family: DIN;
	src: url("../fonts/dinweb/DINWeb-Medium.woff") format("woff");
}