/*-----------------------------------------------------------------------------
[client]            Forms Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

input, input[type="password"], input[type="search"], isindex {
	color: #ffffff;
	@include font-size(12);
	@include padding(5, 10, 5, 10);
	@include border-radius($border-radius-size);
	background-color: #161618;
	outline: none;
	border: 1px solid #2d2d30;

	&::-webkit-input-placeholder,
	&:-moz-placeholder{
	  color: #b5b5b5;
	}
	
	&.search{
		background: #161618 image-url("icons/icon-search.png") 95%	 center no-repeat;
	}
}