/*-----------------------------------------------------------------------------
[client]            Links Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

a {
  text-decoration: none;
  line-height: inherit;
  &:hover { text-decoration: underline;}
  &:focus { outline: none;} 
}
p {
  a, a:visited { line-height: inherit; } 
}

.arrow{
	color: #5c5c5c;
	&:hover{
		color: #ffffff;
	}
	&.up:after{
		content: "  ▲";
	}
}

.button{
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	@include font-size(15);
	@include line-height(15);
	@include padding(10, 10, 10, 10);
	@include border-radius($border-radius-size);
	
	&.blue{
		color: #448ccb;
		border: 1px solid #cccccc;
		background-color: #ffffff;
		&:hover{
			color: #ffffff;
			background-color: #448ccb;
		}
	}
	&.gold{
		color: #333333;
		font-family: "DIN", Sans-Serif;
		background-color: #ffd800;
		&:hover{
			color: #ffd800;
			background-color: #5F5F5F;
		}
	}
}