/*-----------------------------------------------------------------------------
[client]            Lists Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

ul, ol, dl { 
    margin: 0 0 20px 20px;
    margin: 0 0 2rem 2rem;
}

ul {
  list-style: disc outside;
  &.square { list-style: square outside;}
  &.circle { list-style: circle outside;}
  &.disc { list-style: disc outside;} 
}
ol { list-style: decimal;}
ol, 
ul.square, 
ul.circle, 
ul.disc { margin-left: 30px;}
li { margin: 0;}

dl {
	margin: 0 0 15px 0;
    margin: 0 0 1.5rem 0;
	dt {
		font-weight: bold;
	}
}
dd {
	margin-left: 15px;
    margin-left: 15rem;
}

.list-stories{
  margin-bottom: 10px;
  margin-bottom: 1rem;
  .list-story{
    padding: 10px 0;
    border-bottom: 1px dotted #cccccc;
    &:first-child{ padding-top: 0;}
    &:last-child{ border: none;}

    .thumbnail{
      display: inline-block;
      vertical-align: top;
      width: 58px;
      width: 5.8rem;
      margin: 0 15px 0 0;
      margin: 0 1.5rem 0 0;
    }
    .title{
      max-width: 220px;
      max-width: 22rem;
      display: inline-block;
      vertical-align: top;
      color: #333333;
      strong{
        color: #333333;
        display: block;
        @include font-size(22);
      }
      em{
        display: block;
        color: #666666;
        @include font-size(12);
        font-style: normal;
        font-family: "DIN", Sans-Serif;
      }
      &:hover strong{
        color: #448CCB;
      }
    }
  }
}

.list-inline{
  li{
    display: inline;
    @include padding(0,0,0,5);
  }
}