/*-----------------------------------------------------------------------------
[client]            Navigation Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

#navigation{
	background: #252528;
	ul{
		list-style: none;
		li{
			float: left;
			list-style: none;
			ul{
				margin: 0;
				li{
					border-left: 1px solid #353538;
					&:last-child{ 
						border-right: 1px solid #000000;
						a:last-child{ border-right: 1px solid #353538;}
					}
					a,
					a:link,
					a:focus{
						float: left;
						color: #ffffff;
						text-transform: capitalize;
						@include font-size(15);
						font-family: "DIN", Sans-Serif;
						@include padding(25, 15, 25, 15);
						border-left: 1px solid #000000;
					}
					a:hover{
						color: #000000;
						text-decoration: none;
						background: #fff;
					}
				}
			}
		}
	}
	#navigation-main{
		ul{
			li{
				div.row{ display: none;}
				&.hover,
				&:hover{
					position: relative;
					a{ 
						color: #000000;
						background: #ffffff;
					}
					div.row{
						display: block;
						position: absolute;
						left: 0;
						top: 6.9rem;
						width: 70rem;
						@include padding(30, 20, 20, 20);
						background: #ffffff;
						border-left: 1px solid #c9c9c9;
						border-right: 1px solid #c9c9c9;
						border-bottom: 1px solid #c9c9c9;	

						li, a{
							float: none;
							padding: 0;
							border: none;
						}
						a{
							color: #666666;
							font-family: $base-font-family;
							&:hover{
								color: #448CCB;
							}
						}
						.button{
							display: block;
							@extend .button;
						}
						.category-title{
							display: block;
							margin-bottom: 15px;
	  						margin-bottom: 1.5rem;
  						}
  						.list-stories{
							@extend .list-stories;
						}
						.highlight{
							@extend .highlight;
						}
						ul.six.columns{
							width: 20%;
							padding: 0 0 0 20px;
							margin: 0 0 0 20px;
							border-left: 1px solid #c9c9c9;
							li{ 
								padding: 0 0 10px 0; 
								padding: 0 0 1rem 0; 
							}
							&:first-child{
								border: none;
								padding: 0;
								margin: 0;
								a{
									color: #333333;
									font-family: "DIN", Sans-Serif;
									@include font-size(22);
								}
							}
						}
						.twelve.columns{
							width: 50%;
							min-height: 310px;
							min-height: 31rem;
							&:first-child{
								width: 46%;
								margin-right: 4%;
							}
							.button{
								position: absolute;
								bottom: 0;
								width: 94%;
							}
						}
					}
				}
			}
		}
		.yourshot{
			@include font-size(24);
			@include padding(18, 15, 20, 15);
			&:hover{
				text-decoration: none;
			}
			span{ color: #eabc04;}
		}
	}
	#navigation-search{
		li{ 
			@include padding(15, 0, 0, 0);
			border: none;
		}
	}
	#navigation-utility{
		float: right;

		a{	
			@include font-size(13);
			color: #eabc04;
			text-transform: uppercase;

			&.upload{
				text-indent: 25px;
				background-image: image-url("icons/icon-camera.png");
				background-position: 15px 44%;
				background-repeat: no-repeat;
			}
		}
	}
	#list-topics{
		background: #ffffff;
		@include box-shadow( #ccc 1px 5px 10px);
		
		strong{
			display: inline-block;
			vertical-align: top;
			@include font-size(14);
			font-weight: normal;
			@include padding(15, 10, 15, 0);
			border-right: 1px solid #efefef;
		}
		ul{
			display: inline-block;
			vertical-align: top;
			padding: 0;
			margin: 0;
			li{
				color: #9a9a9a;
				border: none;
				@include padding(12, 0, 10, 0);
				a{
				  color: #448ccb;
				  font-family: $base-font-family;
				  @include font-size(14);
				  border: none;
				  @include padding(0, 5, 0, 5);
				  margin: 0;
				}
			}
		}
	}
}