/*-----------------------------------------------------------------------------
[client]            Settings Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

// Grid Settings
$grid-container-padding: 0px;
$grid-container-margin: 0px;

$grid-max-width: 1000px;
$grid-min-width: 1000px;

$number-of-columns: 24;
$gutter-width: 0%;

$container-padding: 2rem;

$support-block-grid-nth-child: false !default;

// Font Settings
$base-font-family: arial, verdana, sans-serif;
$base-font-size: 10px;
$base-line-height: 10px;
$base-color: #333333;

// IE Support
$legacy-support-for-ie: true;
$legacy-support-for-ie6: $legacy-support-for-ie;
$legacy-support-for-ie7: $legacy-support-for-ie;
$legacy-support-for-ie8: $legacy-support-for-ie;

// Compass experimental support setttings
$experimental-support-for-khtml: true;
$experimental-support-for-svg: true;
$experimental-support-for-microsoft: true;


// Rounded corners
$border-radius-size: 1rem;

// Drop shadows
$box-shadow-color: rgba(0,0,0,0.3);
$box-shadow-horizontal-offset: 0;
$box-shadow-vertical-offset: .0625em;
$box-shadow-blur: .25em;

/*
** Foundation Module Styles
Uncomment this out if we end up using them

// Button settings
$button-transition-duration: 0.25s !default;

// Orbit settings
$orbit-slider-id: featured !default;
$include-default-orbit-slider-id: true !default;
*/
