/*-----------------------------------------------------------------------------
[client]            Sprites Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/


// Sprite Settings
$icons: sprite-map("icons/*.png");
$icons-spacing: 50px;
$icons-repeat: no-repeat;
$icons-position: 0;
$icons-sprite-dimensions: true;
@import "icons/*.png";
@include all-icons-sprites;

.icon{ 
    overflow: hidden;
	display: inline-block;
	text-indent: -9999px;
    color: transparent;
	border: none;
	outline: none;
}
p {
    .icon{
        vertical-align: middle;
    }
    &.icons-icon-phone,
    &.icons-icon-image{
        width: auto;
    	min-height: 40px;
    	min-height: 4rem;
    	padding-left: 60px;
    	padding-left: 6rem;
    }
    &.icons-icon-photographers,
    &.icons-icon-publish,
    &.icons-icon-learn{
        width: auto;
        min-height: 80px;
        min-height: 8rem;
        padding-left: 130px;
        padding-left: 13rem;
    }
    &.icons-icon-photographers{
        $x: nth(sprite-position($icons, icon-photographers), 1);
        $y: nth(sprite-position($icons, icon-photographers), 2);
        background-position: ($x+20px) ($y - 150px);
    }
    &.icons-icon-publish{
        $x: nth(sprite-position($icons, icon-publish), 1);
        $y: nth(sprite-position($icons, icon-publish), 2);
        background-position: ($x+20px) ($y - 105px);
    }
    &.icons-icon-learn{
        $x: nth(sprite-position($icons, icon-learn), 1);
        $y: nth(sprite-position($icons, icon-learn), 2);
        background-position: ($x+20px) ($y - 55px);
    }
}

