/*-----------------------------------------------------------------------------
[client]            Structure Stylesheet (custom structure that Grid wont cover)

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

body{
	background-image: image-url("backgrounds/header-placeholder.png");
	background-repeat: no-repeat;
	background-position: top center;
}

#header {
	height: 51px;
	height: 5.1rem;
	background-color: #161618;
	background-image: image-url("backgrounds/header-bg.png");
	background-repeat: no-repeat;
	background-position: top center;
	border-bottom: 1px solid #2e2e30;
	.row{
		border-top: 1px solid #111112;
	}
	#national-geographic{}
}
#article-header {
	#article-title {

	}
}
#article-content {
	#main-content { 
	}
	#related-content {
	}
}
#footer {
	article{
		text-align: center;
		background: #2e2e30;
		@include padding(20,0,20,0);
		h3{
			color: #ffffff;
			font-family: "DIN", Sans-Serif;
			@include font-size(25);
			text-align: center;
			@include padding(10,0,10,0);
		}
		.button.gold{
			display: inline-block;
			@include margin(10, 0, 10, 0);
		}
		ul{
			text-align: left;
			li{
				display: inline-block;
				p{
					color: #5f5f5f;
					@include font-size(12);
					padding-right: 10px;
					padding-right: 1rem;
					border-left: 1px solid #353538;
					border-right: 1px solid #000000;
					strong{
						display: block;
						color: #ffffff;
						@include font-size(14);
						font-family: "DIN", Sans-Serif;
					}
				}
				&:first-child p{ border-left: none;}
				&:last-child p{ border-right: none;}
			}
		}
	}
	aside{
		@include padding(10,0,10,0);
		background: #252528;

		.list-inline{
			margin: 0;
		}
	}
	footer{
		@include padding(10,0,10,0);
		background: #252528;
		border-top: 1px solid #2E2E30;
		p{
			color: #606060;
			@include font-size(10);
			font-family: DIN,sans-serif;
			margin: 0;
			padding: 0;
		}
		.list-inline{
			margin: 0;
			padding: 0;
			li{
				a{
					color: #606060;
					@include font-size(10);
					font-family: DIN,sans-serif;
					vertical-align: top;
				}
			}
		}
	}
}