/*-----------------------------------------------------------------------------
[client]            Typography Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

// #TODO: move theme and switch to rem

body {
  @include font-size($base-font-size);
  @include font-smoothing(antialiased);

  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-color;
  position: relative; 
}

#{headings(all)} {
  font-weight: bold;
  line-height: 1.25;

  small {}
  a { font-weight: inherit; 
    &:hover { text-decoration: underline;}
  } 
}

h1 {
  @include font-size(24);
  line-height: 24px;
}

h2 {
  @include font-size(18);
  margin-bottom: 9px; }

h3 {
  @include font-size(13);
  margin-bottom: 9px; }

h4 {
  @include font-size(13);
  margin-bottom: 3px; }

h5 {
  @include font-size(18);
  margin-bottom: 3px;
  font-weight: normal; }

h6 {
  @include font-size(15);
  font-weight: normal; }

.subheader {
  font-weight: 300;
  margin-bottom: 24px; 
}

p, li, dl {
  @include font-size(13);
  line-height: 1.3;
}
p{ 
  margin: 0 0 18px;
  margin: 0 0 1.8rem;
  img { 
    margin: 0 20px;
    margin: 0 $container-padding;
    &.left { margin-left: 0;}
    &.right { margin-right: 0;}
  }
}
em, i {
  font-style: italic;
  line-height: inherit; 
}
strong, b {
  font-weight: bold;
  line-height: inherit;
}
small {
  font-size: 60%;
  line-height: inherit; 
}
dfn {
	font-style: italic;
	font-weight: bold;
}
sup, sub {
	line-height: 0;
}
abbr, acronym {
  text-transform: uppercase;
  font-size: 90%;
  cursor: help; 
}
abbr {
  text-transform: none; 
}
address {
  margin: 0 0 15px;
	margin: 0 0 1.5em;
	font-style: italic;
}
blockquote {
  line-height: 20px;
  margin: 0 0 18px;
  padding: 9px 20px 0 19px;
  p { line-height: 20px;
}
  cite {
    display: block;
    @include font-size(12);
    &:before {
      content: "/2014 /0020"; }
  } 
}
del {
  //color:;
}
pre {
	margin: 15px 0;
  margin: 1.5em 0;
	white-space: pre;
}
hr {
  border-width: 1px 0 0;
  clear: both;
  margin: 12px 0 18px;
  height: 0; 
}

.category-title{
  text-transform: uppercase;
  @include font-size(12);
  color: #050505;
}